*{
    margin: 0vh;
    padding: 0vh;
}
header
{
   
    nav{
        background-color: rgba(30, 145, 176, 0.999);
        color: white;
        font-size: 2vh;
        padding: 3vh;
        
       
    
        ul{
            display: flex;
            list-style: none;
            padding: 0vh;
            justify-content: flex-end;
           
            .logo {
                margin-right: auto;
            }
            li{
                margin-right: 5vh;
    
                &:hover{
                    background-color: white;
                    color:rgba(30, 145, 176, 0.999);
                }
            }
           
        }
    } 
    .presentation-content{
       display: flex;
       height: 20vh;
       padding: 30vh;
       background-image: url('/imagenes/medicoRiendo.jpg');
       background-size: 100% auto;
       background-repeat: no-repeat;
       background-position: top center;
       justify-content: center;
       align-items:flex-start;
       
       .description-presentation
       {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-right: 60vh;

            p{
                padding: 3vh;
                text-align: center;
            }

            .button-contact{
                padding: 1vh;
                border-radius: 30vh;
                border-color: rgba(30, 145, 176, 0.999);
            }


            
       }

       
        
      
    }
    
}

main{

    text-align: center;
    margin: 4vh 0vh;
    ///aca empieza , ojo
    h2{
       
    }
    .main-contenido{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5vh;
        
       

        .video{
            
            width: 40vh;
            height:40vh ;
            margin-right: 5vh;
            background-color: lightgray; /* Cambia este color al que desees */
                        
            iframe {
                width: 100%;
                height: 100%;
                
            }
            
        }
        .presentacion-video
        {
           
            width: 40vh;
            height:40vh ;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-left: 5vh;
           
            h3, p {
                margin: 1vh; /* Ajusta el margen superior e inferior según lo necesites */
            }
           
        }
    }

    .services-content{
        margin: 0vh;
        background-color: rgb(248, 248, 248);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 4vh 20vh 0vh ;
      
        

        h3{
            margin: 3vh;
        }
        p{
           
        }

        .services-icons{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
          
            .icon{
                margin: 6vh;
                background-color: white;
                
               
                h4{
                    margin: 1vh;
                }
                img{
                    width: 7vh; /* Ajusta el porcentaje deseado */
                    height: 7vh; /* Ajusta el porcentaje deseado */
                }
            }
            
        }
    }

    .contact-content{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        padding: 4vh 20vh 0vh ;

       
        p{
            margin: 1.5vh;
        }
        .form-group {
            margin-bottom: 1.5vh; /* Ajusta el espaciado entre los campos del formulario */
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;

            input{
                width: 30vh;
            }
            textarea{
                width: 50vh;
                height: 10vh;
            }
        }

       


    }

}
