 *{
    margin: 0;
    padding: 0;
 }
 h2{
   color:  rgba(30, 145, 176, 0.999);;
 }
 header{
    width: 100%;
    height: 50vh;
    
     display: flex;
   flex-direction: column;

    nav{
        width: 100%;
        background-color: rgba(30, 145, 176, 0.999);
        height: 5vh;
        
        ul{
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            
            
    
            li{
                
                padding: 0;
                margin: 1vh;
               
        
                &:hover{
                    color: white;
                    border-bottom: 1px solid white;
                }
            }
            .logo{
                margin-right: auto;
            }
            
        }
     }

     .presentation-content{
        width: 100%;
        height: 100%;
        
        background-image: url('/imagenes/medicoRiendo.jpg');
        background-size: 100% 100%;
        background-repeat: no-repeat;

        .description-presentation{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin-left: 4vh;

            button{
                margin: 4px;
                padding: 5px;
                border-radius: 50%;
                border-color: rgba(30, 145, 176, 0.999);;
                transition: transform 0.2s ease;
                &:hover{
                    transform: scale(1.1);
                }
            }
           
        }
     }
 }
 main{
    width: 100%;
    height: 70vh;

    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1vh;
        
    }

    .main-contenido{
        
       
        width: 100%;
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       

        .video{
            display: flex;
            justify-content: center;
        align-items: center;
            width: 80%;
            margin-top: 50px;
            
            iframe{
                align-self: center;
            }
          
        }
        .presentacion-video
        {
            
            display: flex;
            margin: 1vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;

            h3{
                margin-bottom: 1vh;
            }
            p{
                width: 90%;
            }
        }

    }

    .services-content{
        background-color: rgb(248, 248, 248);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        h2{
            margin-bottom: 1vh;
        }
        p{
            width: 80%;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .services-icons{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2vh;

            .icon{

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                margin: 2vh;
                width: 80%;

                img{
                    width: 20%;
                    height: 20%;
                    margin: 1vh;
                }
                h4{
                    margin-bottom: 1vh;
                }
                p{
                    margin-bottom: 1vh;
                }
            }
        }
    }

    .contact-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1vh;
        text-align: center;

        h2{
            margin-bottom: 1vh;
        }
        p{
            width: 90%;
            margin-bottom: 1vh;
        }
        .form-group{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 1vh;
            text-align: center;
            
            input{
                border-color: rgba(30, 145, 176, 0.999) ;
            }
            textarea{
                border-color: rgba(30, 145, 176, 0.999) ;
                
            }
          
        }
        button{
            margin: 4px;
            padding: 5px;
            border-radius: 20%;
            border-color: rgba(30, 145, 176, 0.999);;
        }
        
    }
 }

 @media screen and (min-width:833px) {

    header{
        height: 70vh;
        
    }
    main{
        .main-contenido{
      
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 80%;
            margin: auto;
            height: 30vh;

            .video{
                display: flex;
                width: 50%;
                justify-content: center;
                align-items: center;
                margin-top: 0px;
                

                iframe{
                    justify-content: center;
                    align-items: center;
                    height: 100%;
               
                }
            }
            .presentacion-video{
                width: 50%;
            }
        }

        .services-content{
            flex-direction: column;

            
        h3{
            margin: 3vh;
        }
        p{
           
        }

        .services-icons{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
          
            .icon{
                margin: 6vh;
                background-color: white;
                
               
                h4{
                    margin: 1vh;
                }
                img{
                    width: 7vh; /* Ajusta el porcentaje deseado */
                    height: 7vh; /* Ajusta el porcentaje deseado */
                }
            }
            
        }
        }

         
    }
   
    
}
 